
.gradle/2.14.1/taskArtifacts/cache.properties

.gradle/2.14.1/taskArtifacts/cache.properties.lock

.gradle/2.14.1/taskArtifacts/fileHashes.bin

.gradle/2.14.1/taskArtifacts/fileSnapshots.bin

.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin

.gradle/2.14.1/taskArtifacts/taskArtifacts.bin

build/generated/mockable-android-24.jar

MyApplication/.idea/compiler.xml

MyApplication/.idea/copyright/profiles_settings.xml

MyApplication/.idea/gradle.xml

MyApplication/.idea/misc.xml

MyApplication/.idea/modules.xml

MyApplication/.idea/runConfigurations.xml

MyApplication/gradle/wrapper/gradle-wrapper.jar

OverlapViewPager.iml
